<div style="display: none" class="video-lightbox" id="deadeyed">
  <div class="lb-vid-content">
    <div class="lb-vid">
      <video
        class="video-js vjs-big-play-centered vjs-16-9"
        controls
        preload="auto"
        poster="posters/deadeyed2.jpg"
        data-setup='{}'>
        <source src="https://player.vimeo.com/external/200613942.hd.mp4?s=65b97ada12604ed3b098f25501256b02d388afe5&profile_id=119" type="video/mp4"></source>
        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
      </video>
    </div>
    <div class="lb-vid-desc">
      <h2 class="lb-vid-title">Tragic Trip - "Dead Eyed"</h2>
    </div>
  </div>
</div>