<div style="display: none" class="video-lightbox" id="savvy">
  <div class="lb-vid-content">
    <div class="lb-spacer"></div>
    <div class="lb-vid">
      <video
        class="video-js vjs-big-play-centered vjs-16-9"
        controls
        preload="auto"
        poster="posters/savvy2.png"
        data-setup='{}'>
        <source src="https://player.vimeo.com/external/260506945.hd.mp4?s=95818a5158d33cd029c6342714c587e275c64f9d&profile_id=175" type="video/mp4"></source>
        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
      </video>
    </div>
    <div class="lb-spacer"></div>
    <div class="lb-vid-desc">
      <h2 class="lb-vid-title">Savvy Chic Promo</h2>
      <p>Savvy Chic is a boutique located in Detroit's Eastern Market neighborhood.</p>
    </div>
  </div>
</div>
