<div style="display: none" class="video-lightbox" id="wolfbait">
  <div class="lb-vid-content">
    <div class="lb-vid">
      <video
        class="video-js vjs-big-play-centered vjs-16-9"
        controls
        preload="auto"
        poster="posters/wolfbait.jpg"
        data-setup='{}'>
        <source src="https://player.vimeo.com/external/161125034.hd.mp4?s=472f39f92a678b7477d372fe277e12e7beecd560&profile_id=119" type="video/mp4"></source>
        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
      </video>
    </div>
    <div class="lb-vid-desc">
      <h2 class="lb-vid-title">Wolfbait Featurette</h2>
    </div>
  </div>
</div>