<div style="display: none" class="video-lightbox" id="joa">
  <div class="lb-vid-content">
    <div class="lb-vid">
      <video
        class="video-js vjs-big-play-centered vjs-16-9"
        controls
        preload="auto"
        poster="posters/joa2.jpg"
        data-setup='{}'>
        <source src="https://player.vimeo.com/external/202586679.hd.mp4?s=f985bcf6933cb37b700b800df675a19b884dfe68&profile_id=119" type="video/mp4"></source>
        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
      </video>
    </div>
    <div class="lb-vid-desc">
      <h2 class="lb-vid-title">Joan of Arc - "Full Moon and Rainbo Repair"</h2>
    </div>
  </div>
</div>