<div style="display: none" class="video-lightbox" id="dcc">
  <div class="lb-vid-content">
    <div class="lb-vid">
      <video
        class="video-js vjs-big-play-centered vjs-16-9"
        controls
        preload="auto"
        poster="posters/dcc2.jpg"
        data-setup='{}'>
        <source src="https://player.vimeo.com/external/211217297.hd.mp4?s=4cddc7a14ba44654db1b0b890ca1ff7669233c9a&profile_id=119" type="video/mp4"></source>
        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
      </video>
    </div>
    <div class="lb-vid-desc">
      <h2 class="lb-vid-title">Detroit Clothing Circle</h2>
    </div>
  </div>
</div>