<div style="display: none" class="video-lightbox" id="bbhistory">
  <div class="lb-vid-content">
    <div class="lb-vid">
      <video
        class="video-js vjs-big-play-centered vjs-16-9"
        controls
        preload="auto"
        poster="posters/bbhistory2.jpg"
        data-setup='{}'>
        <source src="https://player.vimeo.com/external/222550403.hd.mp4?s=16d504bd0004260e3177c5ec507e4c98db476654&profile_id=119" type="video/mp4"></source>
        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
      </video>
    </div>
    <div class="lb-vid-desc">
      <h2 class="lb-vid-title">Busy Beaver / Chicago History Museum</h2>
      <p>Part of a video series that promoted Busy Beaver Button Company and its relationship to other businesses in the Chicagoland area.</p>
    </div>
  </div>
</div>