<div style="display: none" class="video-lightbox" id="live6holiday">
  <div class="lb-vid-content">
    <div class="lb-vid">
      <video
        class="video-js vjs-big-play-centered vjs-16-9"
        controls
        preload="auto"
        poster="posters/live6holiday2.jpg"
        data-setup='{}'>
        <source src="https://player.vimeo.com/external/249815721.hd.mp4?s=84f24d129b49d75b1df4236874b0c74a7e5ffad5&profile_id=175" type="video/mp4"></source>
        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
      </video>
    </div>
    <div class="lb-vid-desc">
      <h2 class="lb-vid-title">Live6's Holiday Market 2017</h2>
    </div>
  </div>
</div>