<div style="display: none" class="video-lightbox" id="inconsolable">
  <div class="lb-vid-content">
    <div class="lb-vid">
      <video
        class="video-js vjs-big-play-centered vjs-16-9"
        controls
        preload="auto"
        poster="posters/inconsolable2.jpg"
        data-setup='{}'>
        <source src="https://player.vimeo.com/external/217769622.hd.mp4?s=04933c5643c2ff3069235e3d1e09735dc35c2d03&profile_id=119" type="video/mp4"></source>
        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
      </video>
    </div>
    <div class="lb-vid-desc">
      <h2 class="lb-vid-title">Richard Album in "Inconsolable"</h2>
      <p>Richard Album's music documentary tv special.</p>
    </div>
  </div>
</div>