<div style="display: none" class="video-lightbox" id="live6-dna-donna">
  <div class="lb-vid-content">
    <div class="lb-vid">
      <video
        class="video-js vjs-big-play-centered vjs-16-9"
        controls
        preload="auto"
        poster="posters/live6-dna-donna2.jpg"
        data-setup='{}'>
        <source src="https://player.vimeo.com/external/258501664.hd.mp4?s=a99d9247436b536ff82f5755659d42206070a0c6&profile_id=175" type="video/mp4"></source>
        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
      </video>
    </div>
    <div class="lb-vid-desc">
      <h2 class="lb-vid-title">Live6 DNA Project - Donna Jackson</h2>
      <p>The DNA Project by Live6 is a series of murals and art installations in the neighborhood surrounding Livernois and McNichols (Six Mile) in Detroit, MI. Donna is one of the mural artists and talks with us about her plans and the nature of the DNA project.</p>
    </div>
  </div>
</div>