<div style="display: none;" class="video-lightbox" id="hardearth">
<div class="hard-earth-wrapper">
  <div class="HE-title-wrapper">
<h1 class="HE-title">The Hard Earth</h1>
</div>
<p class=".HE-tagline">An experimental feature length documentary charting the relationship of five Ukrainians and one Ukrainian American to the 2014 revolution and preceding war.</p>
<div class="video-embed-wrapper">
  <div class="embed-container">
    <iframe src="https://player.vimeo.com/video/203729153" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>
<div class="HE-details-wrapper">
<h2>About</h2>
<p>The film is shot over the central and western regions of Ukraine, immediately post-revolution. Six figures explain their relationship to previous and furthering events in their homes and towns. First the Euromaidan protest are discussed as a singular, illuminating event. After abstracted information, dense stories of the annexation of Crimea, war in the East, and the disillusionment of the USSR, reveal complex portraits.</p>
<p>The director examines interpersonal relationships and how the making of the film impacts the realizations. The guides and narrations take on specific forms, showing the miniature in global news stories. The elusive categorization of Ukraine, free and yet oppressed is framed by the difficulty and ease of documentation.</p>
<p><i>TRT: 62 minutes | Original Format: HD | English and Ukrainian with English Subtitles | Sincerely Productions</i></p>
<a href="/hardearth/WritingonTheHardEarth.pdf"><button class="HE-button">Writing on The Hard Earth</button></a>
<h6>Director: Sally Lawton</h6>
<p>Sally Lawton is making film and video work in Chicago and grew up in Detroit. She co-owns Sincerely Productions. She has done curatorial work with experimental film and documentary in Chicago, at The Nightingale, Run of Life, and others. Her academic background is in film and nonprofit studies, graduating from DePaul University in 2013. Sally began filming interviews primarily for a public archiving project on Ukraine in 2014, which lead to traveling to Ukraine in summer 2015 and collecting material for the film.</p>
<h6>Sound Editor: Max Wirt</h6>
<p>Max also co-owns Sincerely Productions. He has worked in theatre, film, television and music in Chicago for 10 years. Aside from being largely responsible for the audio production in Sincerely's work, he writes and produces original music for theater and film/tv. This was the first documentary he has been a part of and looks forward to many more.</p>
<h6>Producer: Emily Eddy</h6>
<p>Emily Eddy is a film, video, and digital media artist and curator based in Chicago, IL. She graduated from The School of the Art Institute of Chicago in 2013, where she received her Bachelors in Fine Arts. Combining many different forms of moving image, her work utilizes strategies of video diaries, archival practices, and experimental documentaries. She has been curating film, video, and new media works at the "rough and ready" Nightingale Cinema in Chicago since 2013. Emily has shown work and programmed screenings at many venues in Chicago, as well as her hometown, Portland, OR, Reykjavik, Iceland, and various mid-western cities.</p>
<h6>Screenings</h6>
<p><a href="http://www.echoparkfilmcenter.org/">Echo Park Film Center</a> - Los Angeles, CA - October 2017</p>
<p><a href="http://www.nightingalecinema.org/">The Nightingale</a> - Chicago, IL - April 2017</p>
<p class="HE-contact-info">For distribution and press inquiries, contact Sally Lawton: <a href="mailto:sally@sincerely.tv">sally@sincerely.tv</a></p>
</div>
</div>