<div style="display: none" class="video-lightbox" id="reason2live">
  <div class="lb-vid-content">
    <div class="lb-vid">
      <video
        class="video-js vjs-big-play-centered vjs-16-9"
        controls
        preload="auto"
        poster="posters/reason2live2.jpg"
        data-setup='{}'>
        <source src="https://player.vimeo.com/external/204035222.hd.mp4?s=c35dbeeb630ed8c56c7e111685b84d2781cf1821&profile_id=174" type="video/mp4"></source>
        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
      </video>
    </div>
    <div class="lb-vid-desc">
      <h2 class="lb-vid-title">Teenage Rage - "Reason 2 Live"</h2>
    </div>
  </div>
</div>