<div style="display: none" class="video-lightbox" id="stormtroopers">
  <div class="lb-vid-content">
    <div class="lb-spacer"></div>
    <div class="lb-vid">
      <video
        class="video-js vjs-big-play-centered vjs-16-9"
        controls
        preload="auto"
        poster="posters/stormtroopers2.jpg"
        data-setup='{}'>
        <source src="https://player.vimeo.com/external/256677172.hd.mp4?s=9e03f311f9c8ac8e3179da7da94b39c03050099b&profile_id=175" type="video/mp4"></source>
        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
      </video>
    </div>
    <div class="lb-spacer"></div>
    <div class="lb-vid-desc">
      <h2 class="lb-vid-title">Richard Album - Stormtroopers</h2>
      <p></p>
    </div>
  </div>
</div>