<div style="display: none" class="video-lightbox" id="skyhigh">
  <div class="lb-vid-content">
    <div class="lb-vid">
      <video
        class="video-js vjs-big-play-centered vjs-16-9"
        controls
        preload="auto"
        poster="posters/skyhigh2.jpg"
        data-setup='{}'>
        <source src="https://player.vimeo.com/external/243030602.hd.mp4?s=3647e24b6246d8a733face86602eec2f839f8095&profile_id=175" type="video/mp4"></source>
        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
      </video>
    </div>
    <div class="lb-vid-desc">
      <h2 class="lb-vid-title">Sky High and the Color of Money</h2>
    </div>
  </div>
</div>
