<div style="display: none" class="video-lightbox" id="buttonomatic">
  <div class="lb-vid-content">
    <div class="lb-vid">
      <video
        class="video-js vjs-big-play-centered vjs-16-9"
        controls
        preload="auto"
        poster="posters/buttonomatic2.jpg"
        data-setup='{}'>
        <source src="https://player.vimeo.com/external/196675589.hd.mp4?s=2d9f8dddfec3b763eded9c2602d2a2c7488086d5&profile_id=119" type="video/mp4"></source>
        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
      </video>
    </div>
    <div class="lb-vid-desc">
      <h2 class="lb-vid-title">Busy Beaver Button-o-matic</h2>
    </div>
  </div>
</div>