<div style="display: none" class="video-lightbox" id="badcredit">
  <div class="lb-vid-content">
    <div class="lb-vid">
      <video
        class="video-js vjs-big-play-centered vjs-16-9"
        controls
        preload="auto"
        poster="posters/badcredit2.jpg"
        data-setup='{}'>
        <source src="https://player.vimeo.com/external/204035618.hd.mp4?s=7e866de965da0b370c077dccc00e689193dcfa3f&profile_id=174" type="video/mp4"></source>
        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
      </video>
    </div>
    <div class="lb-vid-desc">
      <h2 class="lb-vid-title">Bad Credit Good Moms</h2>
      <p>Mom moves out of filmmaker's childhood home.</p>
    </div>
  </div>
</div>