.video-embed 
	position: relative
	height: 0
	overflow: hidden
	max-width: 100%

.video-embed iframe, .video-embed object, .video-embed embed
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%

.sixteen-nine
	padding-bottom: 56.25%

.four-three
	padding-bottom: 75%

.one-one
	padding-bottom: 100%