--- 
layout: default 
---
<div class="videos-wrap">
    <header class="videos-header">
        <a href="/">
            <h1>Sincerely</h1>
            <h1>Productions</h1>
        </a>
    </header>
    <div class="videos-main-title-wrap">
        <h2 class="videos-main-title">Videos</h2>
    </div>
    <div class="video-section-title">
        <h3>Featured Videos</h3>
    </div>
    <div class="videos-grid featured-videos">

        <div class="video-unit">
            <div class="video-img-wrap">
                <a data-fancybox data-src="#live6-dna-donna" href="javascript:;">
                    <img class="video-square" src="posters/live6-dna-donna.jpg">
                </a>
            </div>
            <div class="video-title-wrap">
                <h6 class="video-title">
                    live6 dna project - donna jackson
                </h6>
            </div>
        </div>
        <div class="video-unit">
            <div class="video-img-wrap">
                <a data-fancybox data-src="#live6-dna-megan" href="javascript:;">
                    <img class="video-square" src="posters/live6-dna-megan.jpg">
                </a>
            </div>
            <div class="video-title-wrap">
                <h6 class="video-title">
                    live6 dna project - megan white
                </h6>
            </div>
        </div>
        <div class="video-unit">
            <div class="video-img-wrap">
                <a data-fancybox data-src="#stormtroopers" href="javascript:;">
                    <img class="video-square" src="posters/stormtroopers.jpg">
                </a>
            </div>
            <div class="video-title-wrap">
                <h6 class="video-title">
                    richard album - stormtroopers
                </h6>
            </div>
        </div>
        <div class="video-unit">
            <div class="video-img-wrap">
                <a data-fancybox data-src="#live6holiday" href="javascript:;">
                    <img class="video-square" src="posters/live6holiday.jpg">
                </a>
   
            </div>
            <div class="video-title-wrap">
                <h6 class="video-title">
                    live6 holiday market
                </h6>
            </div>
        </div>
        <div class="video-unit">
            <div class="video-img-wrap">
                <a data-fancybox data-src="#skyhigh" href="javascript:;">
                    <img class="video-square" src="posters/skyhigh.jpg">
                </a>
            </div>
            <div class="video-title-wrap">
                <h6 class="video-title">
                    sky high and the color of money
                </h6>
            </div>
        </div>
        
        <div class="video-unit">
            <div class="video-img-wrap">
                <a data-fancybox data-src="#acwedding" href="javascript:;">
                    <img class="video-square" src="posters/acwedding.jpg">
                </a>
            </div>
            <div class="video-title-wrap">
                <h6 class="video-title">
                    allison and chris get married
                </h6>
            </div>
        </div>
    </div>
        <div class="video-section-title">
        <h3>Assorted Videos</h3>
    </div>
    <div class="videos-grid">
        <div class="video-unit">
            <div class="video-img-wrap">
                <a data-fancybox data-src="#dcc" href="javascript:;">
                    <img class="video-square" src="posters/dcc.jpg">
                </a>
            </div>
            <div class="video-title-wrap">
                <h6 class="video-title">
                    detroit clothing circle
                </h6>
            </div>
        </div>
        <div class="video-unit">
            <div class="video-img-wrap">
                <a data-fancybox data-src="#badcredit" href="javascript:;">
					<img class="video-square" src="posters/badcredit.jpg">
				</a>
            </div>
            <div class="video-title-wrap">
            	<h6 class="video-title">
					bad credit good moms
            	</h6>
            </div>
        </div>
        <div class="video-unit">
            <div class="video-img-wrap">
                <a data-fancybox data-src="#bbparty" href="javascript:;">
					<img class="video-square" src="posters/bbparty.jpg">
				</a>
            </div>
            <div class="video-title-wrap">
            	<h6 class="video-title">
					busy beaver button making party
            	</h6>
            </div>
        </div>
        <div class="video-unit">
            <div class="video-img-wrap">
                <a data-fancybox data-src="#buttonomatic" href="javascript:;">
					<img class="video-square" src="posters/buttonomatic.jpg">
				</a>
   
            </div>
            <div class="video-title-wrap">
            	<h6 class="video-title">
					busy beaver buttonomatic
            	</h6>
            </div>
        </div>
        <div class="video-unit">
            <div class="video-img-wrap">
                <a data-fancybox data-src="#bbmoves" href="javascript:;">
					<img class="video-square" src="posters/bbmoves.jpg">
				</a>
            </div>
            <div class="video-title-wrap">
            	<h6 class="video-title">
					busy beaver moves
            	</h6>
            </div>
        </div>
        <div class="video-unit">
            <div class="video-img-wrap">
                <a data-fancybox data-src="#bbhalfacre" href="javascript:;">
					<img class="video-square" src="posters/bbhalfacre.jpg">
				</a>
            </div>
            <div class="video-title-wrap">
            	<h6 class="video-title">
					busy beaver/half acre
            	</h6>
            </div>
        </div>
        <div class="video-unit">
            <div class="video-img-wrap">
                <a data-fancybox data-src="#bbhistory" href="javascript:;">
					<img class="video-square" src="posters/bbhistory.jpg">
				</a>
            </div>
            <div class="video-title-wrap">
            	<h6 class="video-title">
					busy beaver/the chicago history museum
            	</h6>
            </div>
        </div>
        <div class="video-unit">
            <div class="video-img-wrap">
                <a data-fancybox data-src="#calipsych" href="javascript:;">
					<img class="video-square" src="posters/calipsych.jpg">
				</a>
            </div>
            <div class="video-title-wrap">
            	<h6 class="video-title">
					california psych
            	</h6>
            </div>
        </div>
        <div class="video-unit">
            <div class="video-img-wrap">
                <a data-fancybox data-src="#emle" href="javascript:;">
					<img class="video-square" src="posters/emle.jpg">
				</a>
            </div>
            <div class="video-title-wrap">
            	<h6 class="video-title">
					emle
            	</h6>
            </div>
        </div>
    <!--
        <div class="video-unit">
            <div class="video-img-wrap">
                <a data-fancybox data-src="#hardearth" href="javascript:;">
					<img class="video-square" src="posters/hardearth.jpg">
				</a>
            </div>
            <div class="video-title-wrap">
            	<h6 class="video-title">
					hard earth
            	</h6>
            </div>
        </div>
    -->
        <div class="video-unit">
            <div class="video-img-wrap">
                <a data-fancybox data-src="#joa" href="javascript:;">
					<img class="video-square" src="posters/joa.jpg">
				</a>
            </div>
            <div class="video-title-wrap">
            	<h6 class="video-title">
					joan of arc - full moon and rainbo repair
            	</h6>
            </div>
        </div>
        <!--
        <div class="video-unit">
            <div class="video-img-wrap">
                <a data-fancybox data-src="#kx" href="javascript:;">
					<img class="video-square" src="posters/kx.jpg">
				</a>
            </div>
            <div class="video-title-wrap">
            	<h6 class="video-title">
					katies crossing
            	</h6>
            </div>
        </div>
    -->
        <div class="video-unit">
            <div class="video-img-wrap">
                <a data-fancybox data-src="#mbwedding" href="javascript:;">
					<img class="video-square" src="posters/mbwedding.jpg">
				</a>
            </div>
            <div class="video-title-wrap">
            	<h6 class="video-title">
					madeline and bill's wedding
            	</h6>
            </div>
        </div>
        <div class="video-unit">
            <div class="video-img-wrap">
                <a data-fancybox data-src="#mcfarm" href="javascript:;">
					<img class="video-square" src="posters/mcfarm.jpg">
				</a>
            </div>
            <div class="video-title-wrap">
            	<h6 class="video-title">
					mint creek farm
            	</h6>
            </div>
        </div>
        <div class="video-unit">
            <div class="video-img-wrap">
                <a data-fancybox data-src="#nightingale" href="javascript:;">
					<img class="video-square" src="posters/nightingale.jpg">
				</a>
            </div>
            <div class="video-title-wrap">
            	<h6 class="video-title">
					nightingale cinema trailer
            	</h6>
            </div>
        </div>
        <div class="video-unit">
            <div class="video-img-wrap">
                <a data-fancybox data-src="#patchwork" href="javascript:;">
					<img class="video-square" src="posters/patchwork.jpg">
				</a>
            </div>
            <div class="video-title-wrap">
            	<h6 class="video-title">
					patchwork farms
            	</h6>
            </div>
        </div>
        <div class="video-unit">
            <div class="video-img-wrap">
                <a data-fancybox data-src="#patrick" href="javascript:;">
					<img class="video-square" src="posters/patrick.jpg">
				</a>
            </div>
            <div class="video-title-wrap">
            	<h6 class="video-title">
					patrick worth dying for
            	</h6>
            </div>
        </div>
        <div class="video-unit">
            <div class="video-img-wrap">
                <a data-fancybox data-src="#inconsolable" href="javascript:;">
					<img class="video-square" src="posters/inconsolable.jpg">
				</a>
   
            </div>
            <div class="video-title-wrap">
            	<h6 class="video-title">
					richard album - inconsolable
            	</h6>
            </div>
        </div>
        <div class="video-unit">
            <div class="video-img-wrap">
                <a data-fancybox data-src="#crawlingback" href="javascript:;">
					<img class="video-square" src="posters/crawlingback.jpg">
				</a>
   
            </div>
            <div class="video-title-wrap">
            	<h6 class="video-title">
					richard album and the singles - crawling back
            	</h6>
            </div>
        </div>
        <div class="video-unit">
            <div class="video-img-wrap">
                <a data-fancybox data-src="#peakme" href="javascript:;">
					<img class="video-square" src="posters/peakme.jpg">
				</a>
            </div>
            <div class="video-title-wrap">
            	<h6 class="video-title">
					richard album peak me
            	</h6>
            </div>
        </div>
        <div class="video-unit">
            <div class="video-img-wrap">
                <a data-fancybox data-src="#shattered" href="javascript:;">
					<img class="video-square" src="posters/shattered.jpg">
				</a>
            </div>
            <div class="video-title-wrap">
            	<h6 class="video-title">
					shattered mirrors pilot
            	</h6>
            </div>
        </div>
        
        <div class="video-unit">
            <div class="video-img-wrap">
                <a data-fancybox data-src="#reason2live" href="javascript:;">
					<img class="video-square" src="posters/reason2live.jpg">
				</a>
            </div>
            <div class="video-title-wrap">
            	<h6 class="video-title">
					teenage rage reason 2 live
            	</h6>
            </div>
        </div>
        <div class="video-unit">
            <div class="video-img-wrap">
                <a data-fancybox data-src="#deadeyed" href="javascript:;">
					<img class="video-square" src="posters/deadeyed.jpg">
				</a>
            </div>
            <div class="video-title-wrap">
            	<h6 class="video-title">
					tragic trip - dead eyed
            	</h6>
            </div>
        </div>
        <div class="video-unit">
            <div class="video-img-wrap">
                <a data-fancybox data-src="#vaseline" href="javascript:;">
					<img class="video-square" src="posters/vaseline.jpg">
				</a>
            </div>
            <div class="video-title-wrap">
            	<h6 class="video-title">
					vaseline screen
            	</h6>
            </div>
        </div>
        <div class="video-unit">
            <div class="video-img-wrap">
                <a data-fancybox data-src="#wasteshed" href="javascript:;">
					<img class="video-square" src="posters/wasteshed.jpg">
				</a>
            </div>
            <div class="video-title-wrap">
            	<h6 class="video-title">
					wasteshed nothing new christmas
            	</h6>
            </div>
        </div>
        <div class="video-unit">
            <div class="video-img-wrap">
                <a data-fancybox data-src="#wolfbait" href="javascript:;">
					<img class="video-square" src="posters/wolfbait.jpg">
				</a>
            </div>
            <div class="video-title-wrap">
            	<h6 class="video-title">
					wolfbait
            	</h6>
            </div>
        </div>
                        {% include video-stormtroopers.html %}
                        {% include video-acwedding.html %}
                        {% include video-badcredit.html  %}
                        {% include video-bbhalfacre.html  %}
                        {% include video-bbhistory.html  %}
                        {% include video-bbmoves.html  %}
                        {% include video-bbparty.html  %}
                        {% include video-buttonomatic.html  %}
                        {% include video-calipsych.html  %}
                        {% include video-crawlingback.html  %}
                        {% include video-dcc.html  %}
                        {% include video-deadeyed.html  %}
                        {% include video-emle.html  %}
                        {% include video-hardearth.html %}
                        {% include video-inconsolable.html  %}
                        {% include video-joa.html  %}
                        {% include video-live6-dna-megan.html %}
                        {% include video-live6-dna-donna.html %}
                        {% include video-live6holiday.html  %}
                        {% include video-mbwedding.html  %}
                        {% include video-mcfarm.html  %}
                        {% include video-nightingale.html  %}
                        {% include video-patchwork.html  %}
                        {% include video-patrick.html  %}
                        {% include video-peakme.html  %}
                        {% include video-reason2live.html  %}
                        {% include video-shattered.html  %}
                        {% include video-skyhigh.html  %}
                        {% include video-vaseline.html  %}
                        {% include video-wasteshed.html  %}
                        {% include video-live6holiday.html %}
                        {% include video-wolfbait.html %}

                    </div>
                    </div>